* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.products-item {
    /* display: flex; */
}

.products-item img {
    height: 300px;
}